
@import '/src/styles/breakpoints';
@import '/src/styles/vars';

.comboSection {
	height: 110vh;
	background-color: #d0b6e3;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	max-width: 100rem;
}

.textContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	position: absolute;
	transform: scale(0) translateX(-50%);
	opacity: 0;
	transition: transform 500ms 500ms, opacity 500ms 500ms;
}

.active .image {
	transform: scale(1);
	opacity: 1;
}

.textContainer {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: left;
	align-items: center;
	opacity: 0;
	padding: 0 2rem;
	transition: opacity 500ms 1000ms, transform 500ms 1000ms;

	.text {
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;
		text-shadow: 1px 2px 30px hsla(0,0%,100%,.7);
		line-height: 7rem;
		font-size: 4rem;
	}
}

.active .textContainer {
	opacity: 1;
}

@include desktop {
	.content {
		align-items: flex-start;
	}

	.textContainer {
		margin-left: 5%;
		margin-top: 15%;
	}

	.active .image {
		right: -48vh;
		top: 0;
		transform: scale(.5);
	}
}

@include mobileAndTablet {
	.comboSection {
		padding-top: 20rem;
	}

	.content {
		flex-direction: column;
		justify-content: flex-start;
	}

	.textContainer {
		justify-content: center;

		.text {
			font-size: 3.5rem;
		}
	}

}

@include tablet {
	.active .image {
		transform: scale(.5);
		top: -30vh;
		right: -40vh;
	}
}

@include mobile {
	.active .image {
		transform: scale(.3);
		top: -20vh;
		right: -58vh;
	}
}