@import '/src/styles/breakpoints';
@import '/src/styles/vars';

/// amount selector
.amountSelector {
	position: relative;
	padding: .5rem;
	align-items: center;
	display: flex;
	background-color: #f5f6f8;
	width: fit-content;
	border-radius: 1rem;
	height: fit-content;
}

.amountBtn,
.cartBtn {
	outline: none;
	border: none;
}

.amountBtn {
	position: relative;
	border-radius: 1rem;
	height: 5rem;
	aspect-ratio: 1;
}

.amount {
	padding: 1rem;
	font-size: 2rem;
}

.cartBtn {
	height: 5rem;
	border-radius: 1rem;
	padding: 0 1rem;
	margin-left: .5rem;
	color: white;
	text-transform: uppercase;
	min-width: 9.7rem;
}

.greenBtn {
	background-color: #00e085;
}

.redBtn {
	background-color: #fd5949;
}

.header {
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 3.5rem;
	text-align: center;
	// text-shadow: 1px 1px 2px rgba(92,81,80,.32);
	color: #313131;
	margin: 3.5rem 0 6.5rem 0;
}

.productPreview {
	position: relative;
	display: flex;
	gap: 2rem;
	padding: 6rem;
}

.productName {
	display: block;
	font-weight: 600;
	font-size: 4rem;
	color: #404040;
}

.productPrice {
	margin-top: 1rem;
	letter-spacing: 1px;
	font-size: 3rem;
	font-weight: 700;
	color: #fd5949;
}

.carouselSection, 
.infoSection {
	position: relative;
	display: flex;
	flex-direction: column;
}

.nameAndPrice {
	position: absolute;
	top: 0;
}

.infoSection {
	max-height: $preview-img-height;
	justify-content: center;
}

.carouselSection {
	flex: 1;
}

.infoSection {
	flex: 2;
}

.carousel {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 2rem;
}

.mainImg {
	width: 100%;
	object-fit: cover;
	height: $preview-img-height;
	border-radius: 2rem;
}

.subImg {
	object-fit: contain;
	width: fit-content;
	height: 8rem;
	width: 8rem;
	transition: transform 100ms, opacity 100ms;
	aspect-ratio: 1;
}

.subImgActive {
	transform: scale(1.05);
	opacity: .5;
}

.previewLine {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 1rem;
}

.availability {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.isAvailable {
	font-weight: 500;
	color: #343434;
	font-size: 1.5rem;
	text-align: left;
	text-transform: uppercase;
}

.btnIcon {
	color: #333;
}

.availabilityIcon {
	font-size: 2rem;
	color: #00e085;;
}

@include desktop {
	.cardsContainer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}
}
