@import '/src/styles/breakpoints';
@import '/src/styles/vars';

.berrySection {
	padding: 0 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content {
	margin-top: 10rem;
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	max-width: 100rem;
}

.header,
.subheader {
	color: #414141;
}

.header {
	font-weight: 700;
	font-size: 4rem;
	line-height: 110%;
	margin: 2.4rem 0 1.4rem 0;
}

.subHeader {
	font-weight: 300;
	font-size: 3rem;
	line-height: 110%;
}

.imageContainer,
.textContainer {
	position: relative;
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	position: relative;
	left: 0;
	opacity: 0;
	transform: translateX(-30rem);
	transition: transform 500ms, opacity 500ms;
}

.active .image {
	transform: none;
	opacity: 1;
}

.text {
	text-align: center;
	line-height: 10rem;
	text-transform: uppercase;
	color: #343434;
	letter-spacing: 4px;
	font-weight: 500;
}

@include desktop {
	.text {
		font-size: 4rem;
	}
	.content {
		height: 70vh;
		flex-direction: row;
	}

	.berrySection {
		margin: 70vh 0;
	}

}

@include mobileAndTablet {
	.text {
		font-size: 3.5rem;
	}

	.content {
		height: 90vh;
	}

	.berrySection {
		margin: 50vh 0;
	}

	.content {
		flex-direction: column;
	}
}
