@import '/src/styles/breakpoints';
@import '/src/styles/vars';

.menuBtn {
	appearance: none;
  background: none;
  border: none;
  outline: none;

	position: relative;
	height: 2.5rem;
	width: 40px;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: space-between;
	transition: all .2s ease-in-out;
}

.menuBtnLine {
	border-radius: 1px;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto 0 auto auto;
	height: .5rem;
	width: 100%;
	background: $black-text;
	transition: all .2s ease-in-out;

}

.topLine {
	top: 0;
}

.bottomLine {
	bottom: 0;
}

.menuOpened {
	.menuBtnLine {
		background: #fff;
	}

	.topLine {
		transform: translateY(1rem);
	}

	.bottomLine {
		transform: translateY(-1rem);
	}
}

@include desktop {
	.menuBtn {
		display: none;
	}
}