.socialItem {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  align-items: center;
  margin-top: 2rem;
  transition: all 0.2s ease-out;
  gap: .5rem;

  &:hover {
    letter-spacing: .2px;
		opacity: 0.8;
		transform: scale(1.1);
  }
}

.title {
  font-size: 18px;
}

.instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.whatsapp {
  color: #00e676;
}

.telegram {
  color: #4c99db;
}