@import '/src/styles/breakpoints';
@import '/src/styles/vars';

.test {
	font-size: 4rem;
}

.sets {
	position: relative;
	display: block;
	padding: 2rem;
}

.header {
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 3.5rem;
	text-align: center;
	// text-shadow: 1px 1px 2px rgba(92,81,80,.32);
	color: #313131;
	margin: 3.5rem 0 6.5rem 0;
}

@include desktop {
	.cardsContainer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}
}
