//other
$color-white: #fff;
$color-header-description: #343434;
$shadow-navbar: 4px 2px 26px rgb(107 103 104 / 48%), 0 0 16px #fff;
$opacity-background: whitesmoke;
$shadow: 10px 10px 30px #CCC;
$active-color: #30C5FF;
$light-grey: rgba(0, 0, 0, 0.25);
$active-green: #00e085;
$black-text: #313131;

//header
$header-padding: 4.5rem;
$header-logo-width-mob-and-tab: 24rem;
$header-logo-width-desktop: 22rem;
$header-and-burger-height: 4.2rem;

//navbar
$navbar-height: 6.2rem;
$nav-item-width: 15rem;
$navbar-red: #fd5949;
$buketochka-red: #fd5949;
$cart-width: 8.4rem;
$sub-item-padding: 2.5rem 6.5rem 2.5rem 3rem;

//checkout stuff
$checkout-header-big: 4rem;
$checkout-header-small: 3rem;

//preview
$preview-img-height: 35.5rem;