//other
$color-white: #fff;
$color-header-description: #343434;
$shadow-navbar: 4px 2px 26px rgb(107 103 104 / 48%), 0 0 16px #fff;
$opacity-background: rgba(0, 0, 0, 0.1);

//header
$header-padding: 4.5rem;

//navbar
$navbar-height: 6.2rem;
$nav-item-width: 15rem;
$navbar-red: #fd5949;
$cart-width: 8.4rem;
$sub-item-padding: 2.5rem 6.5rem 2.5rem 3rem;