@import '/src/styles/vars';
@import '/src/styles/breakpoints';

.wrap{
	width: 100%;
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.thanksText{
	font-size: 5rem;
	color: $black-text;
}