.sectionWrapper {
  position: relative;
}

.image {
	overflow: hidden;
}

.image img {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
}

.sectionHeading {
  transition: transform .8s ease-out;
  transition-delay: 1s;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  text-shadow: 0 0 35px #fff;
  padding: 1px 6px;
}

.darkenImage {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  transition: all 1s;
}

.sectionWrapper.active {
  .sectionHeading {
    transform: scale(1.2);
  }
  .giftEmoji {
    transform: scale(0) rotate(1turn);
  }
}

.strawberryEmoji, .alcoEmoji, .chocoEmoji {
  transform: scale(0);
  width: 10px;
  height: 10px;
  left: 45%;
  top: 40%;
  transition-delay: 2s;
  position: absolute;
  transition: transform .3s ease-out;
}

.active {
  .strawberryEmoji {
    transform: scale(4) translateX(-8vw) translateY(7vh) rotate(-50deg);
  }
  .alcoEmoji {
    transform: scale(4.5) translateX(8vw) translateY(5vh) rotate(80deg);
  }
  .chocoEmoji {
    transform: scale(4.1) translateX(9vw) translateY(-6vh) rotate(60deg);
  }
}

.giftEmoji {
  z-index: 100;
  transition: transform .8s ease-out ;
  text-align: center;
  width:60px;
  height: 10px;
  position: absolute;
  text-shadow: 0 0 50px white;
  top: 70%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
}

@media screen and (max-width: 600px){
  .sectionWrapper {
    height: 90vh;
  }
  .darkenImage {
    height: 90vh;
  }

  .sectionHeading {
    letter-spacing: 4px;
    top: 20%;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 6rem;
    width: 50vw;
    
  }

}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .sectionWrapper {
    height: 65vh;
  }
  .image {
    height: 65vh;
    position: relative;
  }
  .darkenImage {
    height: 65vh;
  }
  .sectionHeading {
    letter-spacing: 5px;
    top: 20%;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 7rem;
    width: 60vw;
    z-index: 10;
  }
}

@media screen and (min-width: 1201px)  and (max-width: 1500px){
  .sectionWrapper {
    height: 70vh;
    position: relative;
  }
  .sectionHeading {
    letter-spacing: 5px;
    top: 20%;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 7rem;
    width: 50vw;
  }
  .image {
    position: relative;
    height: 70vh;
  }
  .darkenImage {
    height: 70vh;
  }
}

@media screen and (min-width: 1501px) {
  .sectionWrapper {
    height: 90vh;
    position: relative;
  }
  .sectionHeading {
    letter-spacing: 5px;
    top: 25%;
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 8rem;
    width: 70vw;

  }
  .image {
    height: 90vh;
    position: relative;
  }
  .darkenImage {
    height: 90vh;
  }
}



