@import '/src/styles/breakpoints';
@import '/src/styles/vars';

.chocoSection {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ec4559;

	.content {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 100rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.textContainer {
			opacity: 0;
			transform: translateX(-40%);
			transition: opacity 500ms 1000ms, transform 500ms 1000ms;
		}

		.imageContainer {
			display: flex;
			position: relative;
			justify-content: flex-end;
			align-items: flex-end;
			width: 100%;

			.image {
				transition: transform 500ms 500ms;
			}
		}
	}
}

.chocoSection.active {
	.textContainer {
		opacity: 1;
		transform: translateX(0);
	}
}

@include desktop {
	.chocoSection {
		padding-top: 20rem;

		.text {
			font-size: 4.5rem;
		}

		&.active {
			.image {
				transform: scale(.9) translateY(10vh);
			}
		}
	}
}

@include mobileAndTablet {
	.chocoSection {
		padding-top: 10rem;

		.text {
			font-size: 3.5rem;
		}
	}
}

@include tablet {
	.chocoSection {
		.image {
			transform: scale(.9) translateY(15vh) translateX(15vh);
		}

		&.active {
			.image {
				transform: scale(0.8) translateY(25vh) translateX(5vh);
			}
		}
	}
}

@include mobile {
	.chocoSection {
		.image {
			transform: scale(.8) translateY(25vh) translateX(25vh);
		}

		&.active {
			.image {
				transform: scale(.6) translateY(35vh) translateX(35vh);
			}
		}
	}
}