@import '/src/styles/breakpoints';
@import '/src/styles/vars';

.chocoSection {
	position: relative;
	background-color: #ec4559;
	width: 100%;
	display: flex;
	justify-content: center;
	height: 110vh;
}

.content {
	position: relative;
	max-width: 120rem;
	height: 100%;
	display: flex;
}

.textContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.textContainer {
	position: relative;
	height: 100%;
	flex: 1;
}

.text {
	font-size: 4rem;
	text-shadow: 1px 2px 30px rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	line-height: 10rem;
	opacity: 0;
	color: white;
	transition: opacity 750ms ease;
}

.image {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	transform: scale(.5);
	transition: opacity 750ms, transform 700ms;
}

.active .image {
	opacity: 1;
	transform: scale(1);
}

.active .text {
	opacity: 1;
}

@include mobileAndTablet {
	.content {
		flex-direction: column;
	}

	.textContainer {
		position: relative;
		height: 100%;
		flex: 1;
	}	
}

@include desktop {
	.active .image {
		opacity: 1;
		right: -5vw;
		bottom: -15%;
		transform: scale(.9);
	}
}

@include tablet {
	.active .image {
		opacity: 1;
		right: -30vw;
		bottom: -15%;
		transform: scale(.9);
	}
}

@include mobile {
	.active .image {
		opacity: 1;
		right: -40vw;
		bottom: -15%;
		transform: scale(.7);
	}
}
