.sectionWrapper {
  position: relative;
  height: 100vh;
}

.heading {
  margin: 2.3733333333rem 0 1.424rem 0;
}

.text {
  margin-top: 1em;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
}

.button {
  box-sizing: border-box;
  text-align: center;
  transition-delay: 1.5s;
  cursor: pointer;
  transition: all .5s  ease-out;

  letter-spacing: 5px;
  font-weight: 600;

  opacity: 0;
  transform: scale(0);
  visibility: hidden;

  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);

  background-color: #fd5949;
  color:  white;
  border-radius: 5px;

  position: absolute;
  z-index: 600;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.sectionWrapper{
  margin-top: 20vh;
  h2{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    color: #414141;
    transition: 0.25s;
    z-index: 300;
  }
  p{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transition-delay: 1s;
    position: absolute;
    z-index: 350;
    font-style: italic;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fd5949;
    font-size: 3.2rem;
    transition: all .1s ease-out;
    opacity: 0;
  }
}

.active {
  .button {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    z-index: 350;
    cursor: pointer;
  }
  .imageOne,.imageTwo {
    transition-delay: .8s;
    transition: all .95s ease-out;
    >span {
      transition-delay: .8s;
      transition: all .95s ease-out;
    }
  }
  .text{
    transition: all .1s ease-out;
    transition-delay: 1.3s;
    transform: translateX(0);
    opacity: 1;
  }
  .background {
    background: hsla(0,0%,100%,.65);
    z-index: 300; 
  }
}






@media screen and (max-width: 600px) {
  .text {
    transform: translateX(-15%);
    font-size: 3rem;
    opacity: 0;
  }
  .button {
    font-size: 1.5em;
    padding: 1.4rem;
    top: 40%;
    width: 80vw;
    max-width: 15rem;
    min-width: 9rem;
  }

  .imageOne {
    top:25%;
    position: absolute;
    left: 0;
    width: 60vw;
    > span {
      width: 60vw !important;
      position: unset !important;
    }
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .imageTwo {
    top:30%;
    position: absolute;
    right: 0;
    width: 50vw;
    > span {
      width: 50vw !important;
      position: unset !important;
    }
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .active {
    .imageOne{
      left: -25%;
      >span{
        left: -25% !important;
      }
    }
    .imageTwo {
        top: 30%;
        width: 25vw;
        >span {
          top: 30% !important;
          width: 25vw !important;
        }
    }

  }
}

@media screen and (min-width: 600px)  and (max-width: 900px){
  .text {
    transform: translateX(-5%);
    font-size: 3.5rem!important;
    font-weight: 900!important;
    opacity: 0;
  }
  .button {
    font-size: 1.7em;
    padding: 1.3rem;
    top: 45%;
    font-weight: 600!important;
    width: 80vw;
    max-width: 18rem;
    min-width: 15rem;
  }

  .imageOne {
    top:20%;
    position: absolute;
    left: 0;
    width: 40vw;
    > span {
      width: 40vw !important;
      position: unset !important;
    }
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .imageTwo {
    top:25%;
    position: absolute;
    right: 0;
    width: 30vw;
    > span {
      width: 30vw !important;
      position: unset !important;
    }
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
  .active {
    .imageOne {
      top:20%;
      left: -10%;
      >span {
        top:20% !important;
        left: -10% !important;
      }
    }

    .imageTwo {
      top:25%;
      width: 20vw;
      >span {
        top:25% !important;
        width: 20vw !important;
      }
    }
  }
}


@media only screen and (min-width: 900px) and (max-width: 1500px) {
  .text {
      top: 10%;
      font-size: 3.2rem!important;
      font-weight: 900!important;
      transform: translateX(-15%);
      opacity: 0;
  }
  .imageOne {
    top:15%;
    position: absolute;
    left: 0;
    width: 30vw;
    > span {
      width: 30vw !important;
      position: unset !important;
    }
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
  .imageTwo {
    top:10%;
    position: absolute;
    right: 0;
    width: 25vw;
    > span {
      width: 25vw !important;
      position: unset !important;
    }
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .text {
    top: 10%;
    font-size: 3.2rem!important;
    font-weight: 900!important;
    transform: translateX(-15%);
    opacity: 0;
  }
  .heading {
    h2 {
      font-size: 4rem;
    }
  }
  .button {
    top: 40%;
    font-weight:600!important;
    font-size:  1.5rem;
    padding: 1.5rem;
    width: 80vw;
    max-width: 19rem;
    min-width: 16rem;
  }

  .active {
    .imageOne {
      left: -10%;
      top:10%;
      > span {
        left: -10% !important;
        top:10% !important;
      }
    }
    .imageTwo {
      right:0;
      top:10%;
      width: 15vw;
      > span {
        width: 15vw !important;
        right: 0 !important;
        top:10% !important;
      }
    }
  }
}


@media screen and (min-width: 1501px) {
  .heading { 
    font-size: 4rem;
  }
  .imageOne {
    top:15%;
    width: 29vw;
    position: absolute;
    left: 0;
    > span {
      width: 29vw !important;
      position: unset !important;
    }
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
  .imageTwo {
    top:15%;
    position: absolute;
    right: 0;
    width: 18vw;
    > span {
      width: 18vw !important;
      position: unset !important;
    }
    .image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
  .text {
    top: 10%;
    font-size: 3.3rem!important;
    font-weight: 900!important;
    transform: translateX(-15%);
    opacity: 0;
  }
  .button {
    top: 45%;
    font-weight:600!important;
    font-size:  1.8rem;
    padding: 1.2rem;
    width: 80vw;
    max-width: 20rem;
    min-width: 19rem;
  }

  .active {
    .imageOne {
      left: -5%;
      top:19%;
      width: 20vw;
      > span {
        left: -5% !important;
        top:19% !important;
        width: 20vw !important;
      }
    }

    .imageTwo {
      top: 19%;
      width: 10vw;
      > span {
        top: 19% !important;
        width: 10vw !important;
      }
    }
  }
}