@import '/src/styles/breakpoints';
@import '/src/styles/vars';

.header {
  position: relative;
  width: 100%;
  padding: $header-padding;
}

.headerSection {
  display: flex;
  align-items: center;
}

.slogan {
  font-size: 1.8rem;
}

.sloganSection {
  text-align: center;
  font-weight: 500;
}

.logo {
  height: fit-content;
}

@include desktop {
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .logo {
    max-width: 22rem;
  }

  .headerSection {
    justify-content: center;
  }
}

@include mobileAndTablet {
  .header {
    padding-right: 15%;
    display: flex;
  }
}

@include tablet {
  .header {
    justify-content: flex-start;
    gap: 1rem;
  }

  .logo {
    max-width: 20rem;
  }

  .socialSection {
    display: none;
  }

  .sloganSection {
    flex: 2;
  }

  .slogan {
    font-weight: 500;
  }

  .logoSection {
    flex: 1;
  }
}

@include mobile {
  .header {
    flex-direction: column;
    gap: 1.5rem;
  }

  .logo {
    max-width: 24rem;
  }

  .slogan {
    text-align: start;
    max-width: 30rem;
  }

  .socialSection {
    display: none;
  }
}
