@import '/src/styles/vars';
@import '/src/styles/breakpoints';

.shippingOptions {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem 0;
}

.optionText {
	font-size: 2rem;
}

.optionName {
	color: #313131;
}

.additionalInput {
	width: 100%;
	max-width: $input-max-width;
}

.optionPrice {
	color: #00ba5d;
	font-weight: 700;
}

.header {
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 4rem;
	color: #313131;
	text-align: center;
	margin-bottom: 6rem;
}

.headerError {
	color: red;
}

.optionCards,
.additionalDeliveryInfoSection {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 0 2rem;
	width: 100%;
	max-width: 100rem;
}

.option {
	display: flex;
	padding: 2.5rem;
	height: 18rem;
	width: 100%;
	max-width: $input-max-width;
	cursor: pointer;
	border: 2px solid #f3f7f8;
	background-color: #f3f7f8;
	border-radius: 2rem;
	transition: box-shadow 150ms, transform 150ms, border 200ms;

	&:hover {
		transform: scale(1.01);
		border: 2px solid $active-color;
	}
}

.active {
	transform: scale(1.01);
	border: 2px solid $active-color;
}

.optionnamePriceDescriptionSection {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.optionIconSection {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
}

.icon {
	font-size: 8rem;
}

.additionalDeliveryInfoSection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.deliveryInfoHeader {
	display: flex;
	justify-content: center;
	text-align: center;
	color: #313131;
	font-size: 2rem;
	margin-top: 4rem;
}

@include desktop {
	.mobileBreak {
		display: none;
	}

	.header {
		font-size: $checkout-header-small;
	}
}

@include mobileAndTablet {
	.header {
		font-size: $checkout-header-big;
	}

	.optionCards {
		flex-direction: column;
		gap: 2rem;
	}
}
