@import '/src/styles/vars';
@import '/src/styles/breakpoints';

.recieverData {
	display: flex;
	flex-direction: column;
	margin: 5rem 0;
}

.header {
	letter-spacing: 2px;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	color: #313131;
	margin-bottom: 6rem;
}

@include desktop {
	.mobileBreak {
		display: none;
	}

	.header {
		font-size: $checkout-header-small;
	}
}

@include mobileAndTablet {
	.header {
		font-size: $checkout-header-big;
	}

	.deliveryDate {
		padding: 0 2rem;
	}	
}